<div class="header">
   
    <div><h3> Welcome to The Jitu E-Commerce</h3></div>
  
  <!-- <p>{{prom | async}}</p> -->
  <div class="links">
    <a  routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="product/add"  routerLinkActive="active" *ngIf="authService.isLoggedin">AddProducts</a>
    <a [routerLink]="['product']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.isLoggedin">Products</a>
    <a (click)="onClick()" *ngIf="!authService.isLoggedin">Login</a>
    <a (click)="onLogout()" *ngIf="authService.isLoggedin">Logout</a>
  </div>
</div>
<router-outlet></router-outlet>