* {
  padding: 20px;
}
.container {
  width: 80vw;
  height: 80vh;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;  */
}
.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
  }
.content img {
  width: 150px;
  height: 150px;
}
.color-white{
    color: white;
}
.search{
  display: flex;
  justify-content: center;
}
.search input{
  width: 300px;
  border-radius: 10px;
}
