<!-- <div [ngSwitch]="day">
  <p *ngSwitchCase="1">Monday</p>
  <p *ngSwitchCase="2">Tuesday</p>
  <p *ngSwitchCase="3">Wednesday</p>
  <p *ngSwitchCase="4">Thursday</p>
  <p *ngSwitchCase="5">Friday</p>
  <p *ngSwitchCase="6">Saturday</p>
  <p *ngSwitchCase="7">Sunday</p>
  <p *ngSwitchDefault>No Day</p>
</div> -->
<ng-content></ng-content>
<!-- <div>
  <p>{{ date | date | uppercase }}</p>
  <p>{{ company | uppercase }}</p>
</div> -->

<!-- Searching s product -->
<div class="search">
  <input type="text" [(ngModel)]="filter" placeholder="search item..." />
</div>
<!-- viewchild -->

<!-- <a routerLink="/add">Go to Add Product</a> -->
<!-- <a (click)="loadaddProduct()">Go to Add Product</a> -->

<!-- Displaying -->
<div *ngIf="products.length; else noProduct" class="container">
  <div
    class="content"
    *ngFor="let product of products | search: filter; let i = index"
  >
    <div
      [ngStyle]="{ backgroundColor: !product.inStock ? 'grey' : '' }"
      [ngClass]="{ 'color-white': !product.inStock }"
      [routerLink]="['/product', i]"
      [queryParams]="{ allowEdit: product.isAdmin ? 1 : 0 }"
    >
      <a>{{ product.name }}</a>
    </div>
  </div>
  <div><router-outlet></router-outlet></div>
</div>

<ng-template #noProduct>
  <p>You Dont Have Any Product</p>
</ng-template>
