.formdiv {
    margin-bottom: 100px;
  }
  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched,
  select.ng-invalid.ng-touched {
    border-left: 5px solid red;
  }
  input.ng-valid.ng-touched,
  textarea.ng-valid.ng-touched,
  select.ng-valid.ng-touched {
    border-left: 5px solid green;
  }
  .error{
    color: red;
  }