<div class="container">
    <h1>Welcome to OnlineShop</h1>
    <div class="content">
        <div class="img">
            <img src="assets/images/8dayskenya.jpg" alt="">
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo qui a placeat non sint natus?</p>
            <button>Get Started</button>
        </div>
        <div>
            <ul *ngFor="let todo of todos$|async">
                <li>{{todo.title}}</li>
            </ul>
            <button (click)="Activate()">emit event</button>
        </div>
    </div>
</div>